//========= AppTitle =========//
.app-title {
    margin-top: 3vh;
    margin-bottom: 3vh;
}
//========= AppTitle =========//

//======== AppBtnGrp =========//
.appBtnGrp-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;

    .appBtnGrp-button {
        display: flex;
        justify-content: center;
        border: 1px solid $SMT_Secondary_1_Light_1;
        margin-bottom: 5px;
        height: 28px;
        min-width: 28px;

        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .appBtnGrp-btnText {
            color: $SMT_Primary_2;
            margin: auto;
        }
    }
}
//======== AppBtnGrp =========//

//========= AppHeader ========//
.app-header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    // display: flex;
    // align-items: center;
    // padding-top: .5vh;
    // padding-bottom: .5vh;
    background-color: $SMT_Tertiary_1;
    border-bottom: solid lightgray 2px;
    
    .left-header {
        display: flex;

        .left-header-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 1vw;
            margin-right: 1vw;

            .left-header-icon {
                font-size: 38px;
                font-weight: bold;
                color: $SMT_Primary_1_Light_1;
            }

            label {
                font-size: 12px;
                color: $SMT_Tertiary_1;
            }
        }
    }

    .center-header {
        display: flex;

        .group-dropdown-container {
            margin-left: 3vw;
            margin-right: 3vw;

            .group-dropdown {
                position: relative;
                .group-button {
                    border: 1px solid $SMT_Tertiary_1;
                    border-radius: 5px;
                    padding: 4px 14px 4px 14px;
                    background-color: $SMT_Primary_1_Dark_1;

                    label {
                        color: $SMT_Tertiary_1;
                    }

                    &:hover {
                        background-color: darken($SMT_Primary_1_Dark_1, 7%);
                    }
                }

                .group-item-container {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    background-color: $SMT_Primary_1_Dark_1;
                    border-radius: 0 0 5px 5px;
                    border: 1px solid $SMT_Tertiary_1;
                    z-index: 1;
                    opacity: .9;
                    overflow-y: auto;
                    max-height: 80vh;


                    .item-wrapper {
                        display: flex;
                        padding: 10px;
                        white-space: nowrap;
                        border-bottom: 1px solid $SMT_Tertiary_1;

                        &:hover {
                            background-color: darken($SMT_Primary_1_Dark_1, 7%);
                        }

                        label {
                            color: $SMT_Tertiary_1;
                            font-weight: bold;
                            text-align: center;
                        }
                    }
                }
            }
        }

        .nav-link-container {
            display: flex;
            align-self: center;
            margin-left: 1vw;
            margin-right: 1vw;

        }
    }

    .right-header {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        .toast-container {
            flex: 1;
            display: flex;
            margin-right: 12vh;
            align-self: stretch;
        }

        .right-header-container {
            display: flex;
            flex-direction: column;
            margin-left: 1vw;
            margin-right: 1vw;
            
            .right-header-icon {
            margin-left: 10px;
            margin-right: 10px;
            font-size: 38px;
            font-weight: bold;
            color: $SMT_Primary_1_Light_1;
            }
        
            label {
                font-size: 12px;
                color: $SMT_Tertiary_1;
            }
        }
    }

    .header-link {
        font-weight: bold;
        text-decoration: none;
        color: $SMT_Tertiary_1;
        margin-left: 15px;
        margin-right: 15px;

        &:hover {
            border-bottom: 2px solid $SMT_Tertiary_1;
            margin-bottom: -2px;
        }

        &.is-active {
            border-bottom: 2px solid $SMT_Tertiary_1;
            margin-bottom: -2px;
        }
    }
}

.header-settings {
    &:hover {
        background-color: lighten($SMT_Secondary_1_Light_1, 7%);
    }

    .header-settings-icon {
        font-size: 3rem;
        margin-right: 15px;
    }
}

.header-dropdown {
    margin-bottom: 10px
}

@media (min-width: 576px) {
    .app-header {
        position: fixed;
        z-index: 1000;
        width: 100%;
        // display: flex;
        // align-items: center;
        // padding-top: .5vh;
        // padding-bottom: .5vh;
        background-color: $SMT_Tertiary_1;
        border-bottom: solid lightgray 2px;
        
        .left-header {
            display: flex;
    
            .left-header-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-left: 1vw;
                margin-right: 1vw;
    
                .left-header-icon {
                    font-size: 38px;
                    font-weight: bold;
                    color: $SMT_Primary_1_Light_1;
                }
    
                label {
                    font-size: 12px;
                    color: $SMT_Tertiary_1;
                }
            }
        }
    
        .center-header {
            display: flex;
    
            .group-dropdown-container {
                margin-left: 3vw;
                margin-right: 3vw;
    
                .group-dropdown {
                    position: relative;
                    .group-button {
                        border: 1px solid $SMT_Tertiary_1;
                        border-radius: 5px;
                        padding: 4px 14px 4px 14px;
                        background-color: $SMT_Primary_1_Dark_1;
    
                        label {
                            color: $SMT_Tertiary_1;
                        }
    
                        &:hover {
                            background-color: darken($SMT_Primary_1_Dark_1, 7%);
                        }
                    }
    
                    .group-item-container {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        background-color: $SMT_Primary_1_Dark_1;
                        border-radius: 0 0 5px 5px;
                        border: 1px solid $SMT_Tertiary_1;
                        z-index: 1;
                        opacity: .9;
                        overflow-y: auto;
                        max-height: 80vh;
    
    
                        .item-wrapper {
                            display: flex;
                            padding: 10px;
                            white-space: nowrap;
                            border-bottom: 1px solid $SMT_Tertiary_1;
    
                            &:hover {
                                background-color: darken($SMT_Primary_1_Dark_1, 7%);
                            }
    
                            label {
                                color: $SMT_Tertiary_1;
                                font-weight: bold;
                                text-align: center;
                            }
                        }
                    }
                }
            }
    
            .nav-link-container {
                display: flex;
                align-self: center;
                margin-left: 1vw;
                margin-right: 1vw;
    
            }
        }
    
        .right-header {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
    
            .toast-container {
                flex: 1;
                display: flex;
                margin-right: 12vh;
                align-self: stretch;
            }
    
            .right-header-container {
                display: flex;
                flex-direction: column;
                margin-left: 1vw;
                margin-right: 1vw;
                
                .right-header-icon {
                margin-left: 10px;
                margin-right: 10px;
                font-size: 38px;
                font-weight: bold;
                color: $SMT_Primary_1_Light_1;
                }
            
                label {
                    font-size: 12px;
                    color: $SMT_Tertiary_1;
                }
            }
        }
    
        .header-link {
            font-weight: bold;
            text-decoration: none;
            color: $SMT_Tertiary_1;
            margin-left: 15px;
            margin-right: 15px;
    
            &:hover {
                border-bottom: 2px solid $SMT_Tertiary_1;
                margin-bottom: -2px;
            }
    
            &.is-active {
                border-bottom: 2px solid $SMT_Tertiary_1;
                margin-bottom: -2px;
            }
        }
    }
    
    .header-settings {
        position: relative;
        left: 28px;
        float: right;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
        &:hover {
            background-color: lighten($SMT_Secondary_1_Light_1, 7%);
        }

        .header-settings-icon {
            position: relative;
            top: 5px;
            float: right;
            font-size: 3rem;
        }
        .header-settings-span {
            position: relative;
            top: 15px;
            float: right;
            margin-right: 15px;
        }
    }  
    .header-dropdown {
        position: relative;
        top: 10px;
        margin-right: 60px;
    }
}
//========= AppHeader ========//

//========= Sidebar ==========//
.app-sidebar {
    z-index: 500;
    position: fixed;
    height: 100vh;
    width: 10.7rem;
    padding-top: 6rem;
    background-color: $SMT_Primary_1;
    color: $SMT_Tertiary_1;
    
    .sidebar-toggle {
        display: block;
        position: relative;
        top: -30px;
        left: 170px;
        width: 12px;
        height: 50px;
        border-radius: 0 7px 7px 0;
        background-color: $SMT_Primary_1;
    }

    .sidebar-item {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 1.5rem;
        &:hover {
            background-color: darken($SMT_Primary_1, 7%);
        }
    }
    
    svg {
        margin-right: 1rem;
    }
    
    a {
        color: $SMT_Tertiary_1;
    }
}

@media (min-width: 576px) {
    .app-sidebar {
        .sidebar-toggle {
            display: none;
        }
    }
}
//========= Sidebar ==========//

//========= Schedule ==========//
.schedule-col {
    border-left: 1px solid $SMT_Secondary_1_Light_1;
    border-right: 1px solid $SMT_Secondary_1_Light_1;
}

.schedule-header {
    width: 100%;
    border-bottom: 1px solid $SMT_Secondary_1_Light_1;
    text-align: center;
}

.schedule-sm-span {
    position: relative;
    top: -6px;
    left: 1px;
    font-size: 7px;
    color: $SMT_Secondary_1_Light_1;
}

.schedule-table {
    width: 1000px;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #e3e6f0;
    .schedule-th {
        .schedule-th-tr {
            height: 40px;

            :first-child {
                width: 14% !important;
                padding-left: 15px;
            }

            :not(:first-child) {
                text-align: center;
            }

            .schedule-th-th {
                width: 7%;
                font-weight: 500;
                border: 1px solid #e3e6f0;

                .schedule-th-span {
                    position: relative;
                    padding: 0;
                    top: -6px;
                    left: 1px;
                    font-size: 7px;
                    color: $SMT_Secondary_1_Light_1;
                }
            }
        }
    }

    .schedule-tb {
        .schedule-tb-tr {
            height: 40px;

            :first-child {
                svg {
                    padding: 0;
                }
            }

            .schedule-tb-td {
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;
                border: 1px solid #e3e6f0;

                :last-child {
                    border-left: 1px solid #e3e6f0;
                }
                .schedule-tb-td-divider {
                    display: inline-block;
                    height: 30px;
                    width: 50%;
                }
            }

            .schedule-vorder {
                width: 25px;
                height: 30px;
                background-color: greenyellow;
                word-wrap: normal;
                white-space: nowrap;
                overflow: hidden;
                margin-left: 2px;
                border: none !important;
            }
        }
    }
}
//========= Schedule ==========//