//========= AppTitle =========//
.app-title {
    margin-top: 3vh;
    margin-bottom: 3vh;
}
//========= AppTitle =========//

//======== AppBtnGrp =========//
.appBtnGrp-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;

    .appBtnGrp-button {
        display: flex;
        justify-content: center;
        border: 1px solid $SMT_Secondary_1_Light_1;
        margin-bottom: 5px;
        height: 28px;
        min-width: 28px;

        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .appBtnGrp-btnText {
            color: $SMT_Primary_2;
            margin: auto;
        }
    }
}
//======== AppBtnGrp =========//

//========= AppHeader ========//
.app-header {
    display: flex;
    align-items: center;
    padding-top: .5vh;
    padding-bottom: .5vh;
    background-color: $SMT_Primary_2;
    
    .left-header {
        display: flex;

        .left-header-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 1vw;
            margin-right: 1vw;

            .left-header-icon {
                font-size: 38px;
                font-weight: bold;
                color: $SMT_Primary_1_Light_1;
            }

            label {
                font-size: 12px;
                color: $SMT_Tertiary_1;
            }
        }
    }

    .center-header {
        display: flex;

        .group-dropdown-container {
            margin-left: 3vw;
            margin-right: 3vw;

            .group-dropdown {
                position: relative;
                .group-button {
                    border: 1px solid $SMT_Tertiary_1;
                    border-radius: 5px;
                    padding: 4px 14px 4px 14px;
                    background-color: $SMT_Primary_1_Dark_1;

                    label {
                        color: $SMT_Tertiary_1;
                    }

                    &:hover {
                        background-color: darken($SMT_Primary_1_Dark_1, 7%);
                    }
                }

                .group-item-container {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    background-color: $SMT_Primary_1_Dark_1;
                    border-radius: 0 0 5px 5px;
                    border: 1px solid $SMT_Tertiary_1;
                    z-index: 1;
                    opacity: .9;

                    .item-wrapper {
                        display: flex;
                        padding: 10px;
                        white-space: nowrap;
                        border-bottom: 1px solid $SMT_Tertiary_1;

                        &:hover {
                            background-color: darken($SMT_Primary_1_Dark_1, 7%);
                        }

                        label {
                            color: $SMT_Tertiary_1;
                            font-weight: bold;
                            text-align: center;
                        }
                    }
                }
            }
        }

        .nav-link-container {
            display: flex;
            align-self: center;
            margin-left: 1vw;
            margin-right: 1vw;

        }
    }

    .right-header {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        .toast-container {
            flex: 1;
            display: flex;
            margin-right: 12vh;
            align-self: stretch;
        }

        .right-header-container {
            display: flex;
            flex-direction: column;
            margin-left: 1vw;
            margin-right: 1vw;
            
            .right-header-icon {
            margin-left: 10px;
            margin-right: 10px;
            font-size: 38px;
            font-weight: bold;
            color: $SMT_Primary_1_Light_1;
            }
        
            label {
                font-size: 12px;
                color: $SMT_Tertiary_1;
            }
        }
    }

    .header-link {
        font-weight: bold;
        text-decoration: none;
        color: $SMT_Tertiary_1;
        margin-left: 15px;
        margin-right: 15px;

        &:hover {
            border-bottom: 2px solid $SMT_Tertiary_1;
            margin-bottom: -2px;
        }

        &.is-active {
            border-bottom: 2px solid $SMT_Tertiary_1;
            margin-bottom: -2px;
        }
    }
}
//========= AppHeader ========//