
//======= Bootstrap =====//
.col-1 {
    &.td-checkbox {
        width: 0;
    }
}

.btn {
    border: 0 none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: $SMT_Secondary_2_Dark_1;
    color: $SMT_Tertiary_1;

    &:focus {
        border: 0 none;
        outline: 0 none;
        box-shadow: none;
    }
}

.btn-primary:hover {
    background: $SMT_Secondary_2_Dark_1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: $SMT_Secondary_2_Dark_1;
}

// .btn-primary:active, .btn-primary.active {
//     background: #007299;
//     box-shadow: none;
// }

.btn-outline-primary {
    background-color: $SMT_Tertiary_1;
    border-width: 2px;
    border-color: $SMT_Secondary_2_Dark_1;
    border-style: solid;
    color: $SMT_Secondary_2_Dark_1;
    font-weight: bold;

    &:hover {
        background: $SMT_Tertiary_1;
        color: $SMT_Secondary_2_Dark_1;
        border-color: $SMT_Secondary_2_Dark_1;
    }

    &:focus {
        border: 0 $SMT_Secondary_2_Dark_1;
        outline: 0 none;
        box-shadow: none !important;
    }

    &:checked {
        border: 0 $SMT_Secondary_2_Dark_1;
        outline: 0 none;
        box-shadow: none;
    }
}

.list-group-item.active {
    background-color: $SMT_Primary_1;
    border-color: $SMT_Primary_1;
}

@media (min-width: 576px) {
    .navbar {
        padding: 0;
    }
    .navbar-expand-sm .navbar-collapse {
        justify-content: end;
    }
}

//======= react-calendar =======//
div.react-calendar {
    flex: 1;
    border: none;
    padding-left: 30px;
    padding-right: 30px;

    .react-calendar__navigation {
        margin-bottom: 0;

        button {
            min-width: 0;
        }

        .react-calendar__navigation__prev2-button {
          order: 1;
          font-weight: bold;
          font-size: 36px;

        }
        .react-calendar__navigation__prev-button {
            order: 2;
            font-weight: bold;
            font-size: 36px;
        }
        .react-calendar__navigation__next-button {
            order: 3;
            font-weight: bold;
            font-size: 36px;
        }
        .react-calendar__navigation__next2-button {
            order: 4;
            font-weight: bold;
            font-size: 36px;
        }
        .react-calendar__navigation__label {
            order: 5;
            flex-grow: 0 !important;
            height: 100%;
            font-weight: bold;
            display: flex;
            align-items: center;
            font-size: 30px;
            
        }
    }

    .react-calendar__viewContainer {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
        
        .react-calendar__month-view {
            margin-bottom: -359px;

            .react-calendar__month-view__weekdays__weekday {
                abbr {
                    cursor: default;
                    text-decoration: none;
                    font-weight: bolder;
                }
            }
            
            .react-calendar__month-view__days {
                border: 1px solid $SMT_Secondary_1_Light_1;
                margin-top: -1px;
                margin-right: -1px;
                margin-left: -0.1px;
                
                .react-calendar__tile {
                    display: flex;
                    flex-direction: column;
                    min-height: 10vw;
                    border: 1px solid $SMT_Secondary_1_Light_1;
                }

                .react-calendar__tile--now {
                    background-color: $SMT_Secondary_2_Light_2;
                }
                
                .react-calendar__tile--active {
                    background: $SMT_Primary_1;
                    color: white;
                }
            }
        }
        
    }
}
//======= react-calendar =======//