html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
}

#root {
    height: 100%;
}

//======== Tables ========//
.table-container {

    thead {
        display: block;
        background-color: $SMT_Secondary_2_Light_2;
        width: calc(100% - 10px);

        tr {
            border: 1px solid $SMT_Secondary_1_Light_1;
            font-size: small;

        }        
    }

    tr {
        border-bottom: 1px solid $SMT_Secondary_1_Light_1;
    }

    tbody {
        height: 300px;
        display: block;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 10px;
            margin-left: 2px;
        }

        &::-webkit-scrollbar-thumb {
            background: $SMT_Secondary_1_Light_1;
            border-radius: 15px;
            border: 2px solid white;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: darken($SMT_Secondary_1_Light_1, 7%);
        }

        tr {
            background-color: $SMT_Tertiary_1;
            &:hover {
                background-color: lighten($SMT_Secondary_2_Light_2, 7%);
            }
        }

        &:hover {
            cursor: pointer;
        }
    }

    tfoot {
        border-top: 1px solid $SMT_Secondary_1_Light_1;
        
        .pagination-container {
            display: flex;
        }

        .pagination-column {
            display: flex;
            flex: .5;
        }

        .pagination-dropdown {
            text-align: left;
            flex: 1;
            margin-left: 15px;
            display: flex;

            .pagination-control {
                font-size: larger;
                margin: 10px;
                border-radius: 3px;

                &:hover {
                    background-color: lighten($SMT_Secondary_1_Light_1, 7%);
                }

                span {
                    padding: 10px;
                }
            }
        }
    }

    td {
        padding-left: 10px;
        padding-right: 10px;
        border-left: 1px solid $SMT_Secondary_1_Light_1;
        border-right: 1px solid $SMT_Secondary_1_Light_1;
        text-align: center;

    }


}
//======== Tables ========//

//======== Tabs ========//
.tabs-container {
    margin-right: 10px;
    .tabs-list {
        overflow: hidden;
        background-color: $SMT_Tertiary_1;

        button {
            background-color: inherit;
            float: left;
            border: 1px solid $SMT_Secondary_1_Light_1;
            outline: none;
            cursor: pointer;
            transition: 0.3s;
            
            h5 {
                display: inline;
            }

            &.active {
                background-color: $SMT_Secondary_1_Light_1;

                &:hover {
                    background-color: #ddd;
                }
            }

            &:hover {
                background-color: #ddd;
              }
        }
    }

    .tab-content-container {
        height: 100vh;
        background-color: $SMT_Secondary_1_Light_1;

        .tab-filter {
            display: inline-block;
            height: 100%;

            .tab-filter-container {
                padding: 20px;
            }
        }

        .filter-btn {
            margin-bottom: 10px;
        }

        .tab-content {
            background-color: $SMT_Tertiary_1;
            padding: 0;
            // overflow-y: scroll;

            .tabcontent {
                display: none;
            }

            .tab-content-item {
                height: 100%;
            }
        }

        .app-tab {
            .app-tab-item {
                &.hide {
                    display: none !important;
                }
            }
        }
    }
}

.tab-icon {
    font-size: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
    display: inline;

    &:first-child {
        font-size: 16px;
    }
}
//======== Tabs ========//

//======= Buttons ======//
.button {
    
    &.primary {
        background-color: $SMT_Secondary_2_Dark_1;
        color: $SMT_Tertiary_1;
        border: 1px solid $SMT_Tertiary_1;
        border-radius: 5px;
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 4px;
        padding-bottom: 4px;
        
    
        &.outlined {
            background-color: $SMT_Tertiary_1;
            color: $SMT_Secondary_2_Dark_1;
            font-weight: bold;
            border: 2px solid $SMT_Secondary_2_Dark_1;
            padding-left: 13px;
            padding-right: 13px;
            padding-top: 3px;
            padding-bottom: 3px;
            
            &.sm {
                padding-left: 8px;
                padding-right: 8px;
                padding-top: 0;
                padding-bottom: 0;
            }
            
            &:hover {
                background-color: darken($SMT_Tertiary_1, 7%);
            }
        }

        &.block {
            width: 100%;
        }

        &.sm {
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 1px;
            padding-bottom: 1px;
        }
    }

    &.secondary {
        background-color: $SMT_Primary_1_Dark_1;
        color: $SMT_Tertiary_1;
        border: 1px solid $SMT_Tertiary_1;
        border-radius: 5px;
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 4px;
        padding-bottom: 4px;
        
    
        &.outlined {
            background-color: $SMT_Tertiary_1;
            color: $SMT_Primary_1;
            font-weight: bold;
            border: 2px solid $SMT_Primary_1;
            padding-left: 13px;
            padding-right: 13px;
            padding-top: 3px;
            padding-bottom: 3px;

            &.sm {
                padding-left: 8px;
                padding-right: 8px;
                padding-top: 0;
                padding-bottom: 0;
            }

            &:hover {
                background-color: darken($SMT_Tertiary_1, 7%);
            }
        }

        &.block {
            width: 100%;
        }

        &.sm {
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 1px;
            padding-bottom: 1px;
        }

        &:hover {
            background-color: darken($SMT_Primary_1_Dark_1, 7%);
        }
    }

    &.disabled {
        background-color: lighten($SMT_Secondary_2_Light_1, 7%);

        &:hover {
            background-color: lighten($SMT_Secondary_2_Light_1, 7%); 
        }
    }

    &:hover {
        background-color: darken($SMT_Secondary_2_Dark_1, 7%);
    }
}
//======= Buttons ======//

//======== Toast =========//
.app-toast {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: $SMT_Secondary_1_Light_1;
    border-radius: 5px;
}
//======== Toast =========//

//======== Modal =========//
.app-modal {
    .modal-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $SMT_Primary_2;
        z-index: 1;
    }

    .modal-form {
        display: flex;
        position: absolute;
        background-color: $SMT_Tertiary_1;
        height: 100%;
        z-index: 2;
    }
}
//======== Modal =========//

//======== Form =========//
.app-form {
    width: 30vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    
    .form-header {
        display: flex;
        margin-bottom: 15px;
        padding: 15px;
        background-color: $SMT_Primary_1_Dark_1;
        color: $SMT_Tertiary_1;

        .form-header-title {
            flex: 1;
        }

        .form-header-icon {
            &:hover {
                color: $SMT_Secondary_1_Light_1;
            }
        }
    }

    .form-body {
        flex: 1;
        padding-left: 15px;
        padding-right: 15px;
        overflow-y: auto;

        .form-row {
            display: flex;
            
            :first-child {
                margin-right: 15px;
            }
        }
    }

    .form-footer {
        padding-left: 10px;
        padding-right: 10px;

        .footer-buttons {
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
//======== Form =========//

//======= Text Input ======//
.app-textinput {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    .textinput-label {
        font-size: 10px;
        font-weight: 700;
        color: $SMT_Primary_2_Light_1;
        text-transform: uppercase;
    }

    .textinput {
        border: 1px solid $SMT_Secondary_1_Light_1;
        border-radius: 3px;
        padding-left: 10px;
        
        &:focus {
            border: 1px solid $SMT_Secondary_2_Light_2;
            // border-color: $SMT_Secondary_2_Light_1;
        }

        &:focus-visible {
            outline: none;
        }

        &::placeholder {
            color: lighten($SMT_Secondary_1, 7%);
          }
    }
}
//======= Text Input ======//

//======= Drop Down =======//
.app-dropdown {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    .dropdown-label {
        font-size: 10px;
        font-weight: 700;
        color: $SMT_Primary_2_Light_1;
        text-transform: uppercase;
    }

    .app-dropdown-select {
        .app-dropdown__control {
            height: 28px;

            &.app-dropdown__control--is-focused {
                border-radius: 3px;
                border: 1px solid $SMT_Secondary_2_Light_2;
                box-shadow: none;
                height: 28px;

            }

            &.css-1pahdxg-control {
                min-height: 28px;
            }

            &.css-yk16xz-control {
               min-height: 28px;  
            }

            .app-dropdown__value-container {
                height: 28px;
                padding: 0px 8px;
                margin-top: -5px;
            } 
        }

        .app-dropdown__input {
            input {
                height: 18px;
            }
        }

        .app-dropdown__indicator {
            margin-top: -5px;
        }

        .app-dropdown__indicator-separator {
            display: none;
        }

        .app-dropdown__option {
            &.app-dropdown__option--is-focused {
                background-color: $SMT_Secondary_2_Light_2;
            }

            &.app-dropdown__option--is-selected {
                background-color: $SMT_Secondary_2_Light_2;
                &:hover {
                    background-color: darken($SMT_Secondary_2_Light_2, 7%);
                }
            }

            &:hover {
                background-color: $SMT_Secondary_2_Light_2;
            }
        }
    }
}
//======= Drop Down =======//

//====== Calendar ==========//
.app-calendar-pill {
    width: 100%;
    background-color: $SMT_Secondary_1_Light_1;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 5px;

    &:hover {
        background-color: darken($SMT_Secondary_1_Light_1, 7%);
    }
}
//====== Calendar ==========//

//========= Map ==========//
.app-map-container {
    height: 100%;
    width: 100%;

    .mapboxgl-popup-content {
        padding: 0;

        .app-map-popup {
            display: flex;
            flex-direction: column;

            .popup-image {
                padding-bottom: 50px;
                border-radius: 3px 3px 0 0;
                flex: 1;
                background-color: $SMT_Secondary_2_Light_2;
                display: flex;
                flex-direction: row-reverse;
                
                .popup-close {
                    color: darken($SMT_Secondary_1_Light_1, 7%);
                    &:hover {
                    color: $SMT_Secondary_1;

                    }
                }
            }

            .popup-body {
                flex: 1;
                display: flex;
                padding: 10px;

                span {
                    font-weight: bold;
                    display: inline;
                    margin-right: 10px;
                }
                p {
                    display: inline;
                }


            }
        }
    }
}

.popup-body {
    .popup-col-1 {
        flex: 1;
    }
    .popup-col-2 {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: right;
        
        .popup-btn {
            margin-right: -5px;
        }
    }
}

.map-marker {
    color: $SMT_Primary_1;
    font-size: 20px;
    cursor: pointer;
}
//========= Map ==========//

//======= Widget =========//
.widget-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 2px solid $SMT_Secondary_1;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;

    .widget-header {
        flex: 0;
        display: flex;
        justify-content: center;
        background-color: $SMT_Secondary_1_Light_1;
        text-align: center;
        padding: 5px;
        margin-bottom: 10px;
    }

    .widget-body {
        flex: 1;
        display: flex;
    }
}
//======= Widget =========//