html {
    overflow: hidden;
}

//======== Tables ========//
.table-container {
    thead {
        background-color: $SMT_Secondary_2_Light_2;

        tr {
            border: 1px solid $SMT_Secondary_1_Light_1;
            font-size: small;
        }        
    }

    tr {
        border-bottom: 1px solid $SMT_Secondary_1_Light_1;
    }

    tbody {
        tr {
            background-color: $SMT_Tertiary_1;
            &:hover {
                background-color: lighten($SMT_Secondary_2_Light_2, 7%);
            }
        }

        &:hover {
            cursor: pointer;
        }
    }

    td {
        padding-left: 10px;
        padding-right: 10px;
        border-left: 1px solid $SMT_Secondary_1_Light_1;
        border-right: 1px solid $SMT_Secondary_1_Light_1;
        text-align: center;

    }


}
//======== Tables ========//

//======== Tabs ========//
.tabs-container {
    .tabs-list {
        overflow: hidden;
        background-color: $SMT_Tertiary_1;

        button {
            background-color: inherit;
            float: left;
            border: 1px solid $SMT_Secondary_1_Light_1;
            outline: none;
            cursor: pointer;
            transition: 0.3s;
            
            h5 {
                display: inline;
            }

            &.active {
                background-color: $SMT_Secondary_1_Light_1;

                &:hover {
                    background-color: #ddd;
                }
            }

            &:hover {
                background-color: #ddd;
              }
        }
    }

    .tab-content-container {
        min-height: 50vh;
        max-height: 75vh;
        background-color: $SMT_Secondary_1_Light_1;

        .tab-filter {
            display: inline-block;
            height: 100%;

            .tab-filter-container {
                padding: 20px;
            }
        }

        .filter-btn {
            margin-bottom: 10px;
        }

        .tab-content {
            background-color: $SMT_Tertiary_1;
            padding: 0;
            // overflow-y: scroll;

            .tabcontent {
                display: none;
            }
        }

        // .tab-content-item {
        //     height: 100%;
        //     margin-bottom: -315px;
        // }
    }
}

.tab-icon {
    font-size: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
    display: inline;

    &:first-child {
        font-size: 16px;
    }
}
//======== Tabs ========//

//======= Buttons ======//
.button {
    
    &.primary {
        background-color: $SMT_Secondary_2_Dark_1;
        color: $SMT_Tertiary_1;
        border: 1px solid $SMT_Tertiary_1;
        border-radius: 5px;
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 4px;
        padding-bottom: 4px;
        
    
        &.outlined {
            background-color: $SMT_Tertiary_1;
            color: $SMT_Secondary_2_Dark_1;
            font-weight: bold;
            border: 2px solid $SMT_Secondary_2_Dark_1;
            padding-left: 13px;
            padding-right: 13px;
            padding-top: 3px;
            padding-bottom: 3px;
            
            &.sm {
                padding-left: 8px;
                padding-right: 8px;
                padding-top: 0;
                padding-bottom: 0;
            }
            
            &:hover {
                background-color: darken($SMT_Tertiary_1, 7%);
            }
        }

        &.block {
            width: 100%;
        }

        &.sm {
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 1px;
            padding-bottom: 1px;
        }
    }

    &.secondary {
        background-color: $SMT_Primary_1_Dark_1;
        color: $SMT_Tertiary_1;
        border: 1px solid $SMT_Tertiary_1;
        border-radius: 5px;
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 4px;
        padding-bottom: 4px;
        
    
        &.outlined {
            background-color: $SMT_Tertiary_1;
            color: $SMT_Primary_1;
            font-weight: bold;
            border: 2px solid $SMT_Primary_1;
            padding-left: 13px;
            padding-right: 13px;
            padding-top: 3px;
            padding-bottom: 3px;

            &.sm {
                padding-left: 8px;
                padding-right: 8px;
                padding-top: 0;
                padding-bottom: 0;
            }

            &:hover {
                background-color: darken($SMT_Tertiary_1, 7%);
            }
        }

        &.block {
            width: 100%;
        }

        &.sm {
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 1px;
            padding-bottom: 1px;
        }

        &:hover {
            background-color: darken($SMT_Primary_1_Dark_1, 7%);
        }
    }

    &.disabled {
        background-color: lighten($SMT_Secondary_2_Light_1, 7%);

        &:hover {
            background-color: lighten($SMT_Secondary_2_Light_1, 7%); 
        }
    }

    &:hover {
        background-color: darken($SMT_Secondary_2_Dark_1, 7%);
    }
}
//======= Buttons ======//

//======== Toast =========//
.app-toast {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: $SMT_Secondary_1_Light_1;
    border-radius: 5px;
}
//======== Toast =========//

//======== Modal =========//
.app-modal {
    .modal-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $SMT_Primary_2;
    }

    .modal-form {
        display: flex;
        position: absolute;
        background-color: $SMT_Tertiary_1;
        height: 100%;
    }
}
//======== Modal =========//

//======== Form =========//
.app-form {
    width: 30vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    
    .form-header {
        display: flex;
        margin-bottom: 15px;
        padding: 15px;
        background-color: $SMT_Primary_1;
        color: $SMT_Tertiary_1;

        .form-header-title {
            flex: 1;
        }

        .form-header-icon {
            &:hover {
                color: $SMT_Secondary_1_Light_1;
            }
        }
    }

    .form-body {
        flex: 1;
        padding-left: 15px;
        padding-right: 15px;
    }

    .form-footer {
        padding-left: 10px;
        padding-right: 10px;

        .footer-buttons {
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
//======== Form =========//

//======= Text Input ======//
.app-textinput {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    .textinput-label {
        font-size: 10px;
        font-weight: 700;
        color: $SMT_Primary_2_Light_1;
        text-transform: uppercase;
    }

    .textinput {
        border: 1px solid $SMT_Secondary_1_Light_1;
        border-radius: 3px;
        padding-left: 10px;
        
        &:focus {
            border: 1px solid $SMT_Secondary_2_Light_2;
            // border-color: $SMT_Secondary_2_Light_1;
        }

        &:focus-visible {
            outline: none;
        }

        &::placeholder {
            color: lighten($SMT_Secondary_1, 7%);
          }
    }
}
//======= Text Input ======//

//======= Drop Down =======//
.app-dropdown {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    .dropdown-label {
        font-size: 10px;
        font-weight: 700;
        color: $SMT_Primary_2_Light_1;
        text-transform: uppercase;
    }

    .app-dropdown-select {
        .app-dropdown__control {
            height: 28px;

            &.app-dropdown__control--is-focused {
                border-radius: 3px;
                border: 1px solid $SMT_Secondary_2_Light_2;
                box-shadow: none;
                height: 28px;

            }

            &.css-1pahdxg-control {
                min-height: 28px;
            }

            &.css-yk16xz-control {
               min-height: 28px;  
            }

            .app-dropdown__value-container {
                height: 28px;
                padding: 0px 8px;
                margin-top: -5px;
            } 
        }

        .app-dropdown__input {
            input {
                height: 18px;
            }
        }

        .app-dropdown__indicator {
            margin-top: -5px;
        }

        .app-dropdown__indicator-separator {
            display: none;
        }

        .app-dropdown__option {
            &.app-dropdown__option--is-focused {
                background-color: $SMT_Secondary_2_Light_2;
            }

            &.app-dropdown__option--is-selected {
                background-color: $SMT_Secondary_2_Light_2;
                &:hover {
                    background-color: darken($SMT_Secondary_2_Light_2, 7%);
                }
            }

            &:hover {
                background-color: $SMT_Secondary_2_Light_2;
            }
        }
    }
}
//======= Drop Down =======//

//====== Calendar ==========//
.app-calendar-pill {
    width: 100%;
    background-color: $SMT_Secondary_1_Light_1;
    padding: 5px;
    border-radius: 20px;

    &:hover {
        background-color: darken($SMT_Secondary_1_Light_1, 7%);
    }
}
//====== Calendar ==========//