//--- Colors ---///

/// Primary 1
$SMT_Primary_1: #BB1E10;
$SMT_Primary_1_Light_1: #f5573b;
$SMT_Primary_1_Dark_1: #830000;

/// Primary 2
$SMT_Primary_2: #101820;
$SMT_Primary_2_Light_1: #363e47;

/// Secondary 1
$SMT_Secondary_1: #666666;
$SMT_Secondary_1_Light_1: #CCCCCC;

/// Secondary 2
$SMT_Secondary_2: #3B5998;
$SMT_Secondary_2_Light_1: #6d85c9;
$SMT_Secondary_2_Light_2: #C9DBFF;
$SMT_Secondary_2_Dark_1: #003069;

/// Tertiary 1
$SMT_Tertiary_1: #FFFFFF;