//====== Charge =========//
.charge-container {
    flex: 1;
    display: flex;

    .charge-item {
        margin-right: 15px;
        
        &:nth-child(1) {
            flex: 1;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.charges-button-row {
    flex: 1;
    display: flex;
    margin-bottom: 15px;
}
//====== Charge =========//